@model PlineFaxServer.Models.TblContact

@{
    ViewData["Title"] = "Details";
}

<h3>مشخصات مخاطب</h3>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NickName):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNumber):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FaxNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNumber2):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FaxNumber2)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNumber3):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FaxNumber3)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber2):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber3):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber3)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber2):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber3):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber3)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email2):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email2)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email3):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email3)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<hr/>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">ویرایش</a>
    <a asp-action="Index" class="btn btn-danger">بازگشت</a>
</div>